<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<th:block layout:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>회원수정</title>
</head>
<body>
<div class="container">
    <form action="/member/edit" th:object="${editMembers}" method="post">
        <div class="form-group" >
            <label  th:for="name">이름</label>
            <input type="text" th:field="*{name}" placeholder="이름을 입력하세요" style="width:400px;height:30px;font-size:16px; margin-top"
                   th:errorclass="field-error" class="form-control">
            <div class="field-error" th:errors="*{name}"></div>

        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" placeholder="비밀번호를입력하세요" class="form-control" style="width:400px;height:30px;font-size:16px;"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"></div>
        </div>

        <div class="form-group">
            <div>
                <label th:for="nickname">닉네임</label>

                <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임을 입력하세요" style="width:400px;height:30px;font-size:16px;"
                       th:errorclass="field-error">
            </div>
            <div class="field-error" th:errors="*{nickname}"></div>

        </div>

        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="text" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요" style="width:400px;height:30px;font-size:16px;"
                   th:errorclass="field-error" readonly>
            <div class="field-error" th:errors="*{email}"></div>

            <div style="width:400px; text-align: right; margin-top:10px">
            <button type="submit" class="btn btn-primary">확인</button>
            </div>
        </div>

    </form>
    <br/>
</div>
</body>
</th:block>
</html>